[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-guardian = "*"
pygments = "*"
pyyaml = "*"
uritemplate = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-cpf = "*"

[dev-packages]
pylama = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
